<ul>
<% @jobs.each do |job| %>
    <li>
      <ul>
        <h2><%= job.name %></h2>
        <% job.builds.each do |build| %>
          <li><%= build.name %></li>
        <% end %>
      </ul>
    </li>
<% end %>
</ul>