$key-orange: #F3A21A;
$key-purple: #4B226C;

#pie-chart {
  background-color: $key-orange;
  // font: bold 15px "Neuzeit S LT Std";
  font: bold 25px "Neuzeit S LT Std";
  text-shadow: 1px 1px 0 rgba(0,0,0,.04);
  .units {
    fill: #FFF;
  }
  .value{
    fill: rgba(255,255,255,0.7);
    display: none;
  }
  > svg {
    display: block;
    margin: 0 auto;
    padding: 60px 200px;
  }
  .arc path {
    -webkit-transition-property: fill, stroke;
    -webkit-transition-duration: 2s;
  }
}
