// Import Google Fonts.
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$key-orange: #F3A21A;
$key-purple: #4B226C;

.pie-chart {
  background-color: $key-orange;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,.04);
  .units {
    fill: #FFF;
    // text-shadow: 3px 3px 0 darken($key-orange, 5%);
    text-shadow: 3px 3px 0 rgba(0,0,0,0.08);
  }
  .value{
    fill: rgba(255,255,255,0.7);
    display: none;
  }
  > svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -520px 0 0 -1050px;
    padding: 100px;

  }
  .arc {
    path {
      -webkit-transition-property: fill, stroke;
      -webkit-transition-duration: 2s;

    }
  }
}
