@import "compass/css3";
@import "transitions";
@import "typefaces";

// HTML reset  styles.
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: "franklin-gothic-urw";
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Generic graph styles.
.graph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  h1 {
    position: absolute;
    font-family: "Neuzeit S LT Std";
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
    top: 50px;
    left: 50px;
    text-transform: none;
  }
}

// Common elements.
@import "header";

// Specific graph styles.
@import "graph1";
@import "graph2";
@import "graph3";
