// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datepicker {
  z-index: 9999;
}

.widget {
  border-top: 1px solid #666;
}

.well
{
  &.large
  {
    width:96%;
    height:89%;
    display:inline-block;
  }
  &.medium
  {
    width:50%;
  }
  &.small
  {
    width:25%;
  }
}
